
.repeatstring{
     width: 300px;
     height: 300px;
     background-color: black;
     margin: 10px;
     padding: 10px;
     box-shadow: 10px 10px 10px gray;
}
#button5{
     margin: 10px;
    background-color: yellowgreen;
 }
 #part6{
       width: 300px;
       height: 300px;
       background-color: black;
       margin: 10px;
       padding: 10px;
       box-shadow: 10px 10px 10px gray;
  }
h2{ color: yellowgreen;
    font-size: 20px;
}
#resultstring{
   height: 50px;
   width: 100px;
   margin: 10px;
   padding: 10px;
   background-color: white;
   text-align: center;
}
#input{
margin: 10px; 
height: 50px;
font-size: 15px;
text-align: center;
}
#button{
    margin: 10px;
    background-color: yellowgreen;
}

/* Feruz*/
#section{
    max-width: 850px;
    margin: auto;
    display: flex;
    margin: 20% 20%;
    flex-wrap: wrap;
}

#part1, #part2, #first, #second{
     width: 300px;
    height: 300px;
    background-color: black;
     margin: 10px;
    padding: 10px;
    box-shadow: 10px 10px 10px gray;
}
h2{ color: yellowgreen;
          font-size: 20px;}
#finalResult, #finalResult1, #finalResult2, #finalResult3{
    height: 50px;
    width: 200px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    text-align: center;
}
#input, #input1, #input2, #input3{
    margin: 10px; 
    height: 50px;
    font-size: 15px;
    text-align: center;
    width: 200px;
    }
#in1, #in2{
    margin: 10px; 
    height: 20px;
    font-size: 15px;
    text-align: center;
    width: 200px;
    }

#button, #button1, #button2, #button3 { margin: 10px;
         background-color: yellowgreen;
    }